n8n/creful-kb-sync.credentials.workflow.json
{
  "name": "Creful KB Sync - Credentials",
  "nodes": [
    {
      "id": "e8d667f8-d75d-4a21-b742-e0e3e6f0cd86",
      "name": "Manual Webhook - POST /creful-kb-sync",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "creful-kb-sync",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "webhookId": "e063f282-7382-4b2d-b60e-049a3d08fa7e"
    },
    {
      "id": "524719a1-62ce-4138-9ea0-4a225d48d2e0",
      "name": "Notion - Query KB Rows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/data_sources/c52dad9d-1fa0-45af-a23b-68785536a494/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2025-09-03"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"page_size\": 100,\n  \"result_type\": \"page\",\n  \"filter\": {\n    \"or\": [\n      {\n        \"property\": \"Status\",\n        \"status\": {\n          \"equals\": \"in_review\"\n        }\n      },\n      {\n        \"property\": \"Status\",\n        \"status\": {\n          \"equals\": \"approved\"\n        }\n      },\n      {\n        \"property\": \"Status\",\n        \"status\": {\n          \"equals\": \"published\"\n        }\n      }\n    ]\n  },\n  \"sorts\": [\n    {\n      \"timestamp\": \"last_edited_time\",\n      \"direction\": \"ascending\"\n    }\n  ]\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "__REPLACE_AFTER_IMPORT__",
          "name": "Creful Notion Authorization"
        }
      }
    },
    {
      "id": "2bf35952-1f4e-4b07-9929-eedabd279a39",
      "name": "Code - Normalize Notion Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const ALLOWED_STATUSES = new Set(['in_review', 'approved', 'published']);\n\nfunction prop(page, name) {\n  return page.properties?.[name];\n}\n\nfunction richTextToPlain(parts = []) {\n  return parts.map((p) => p.plain_text || p.text?.content || '').join('').trim();\n}\n\nfunction propertyText(page, name) {\n  const p = prop(page, name);\n  if (!p) return '';\n  if (p.type === 'title') return richTextToPlain(p.title || []);\n  if (p.type === 'rich_text') return richTextToPlain(p.rich_text || []);\n  if (p.type === 'select') return p.select?.name || '';\n  if (p.type === 'status') return p.status?.name || '';\n  if (p.type === 'formula') return p.formula?.string || String(p.formula?.number || '');\n  return '';\n}\n\nfunction propertyMulti(page, name) {\n  const p = prop(page, name);\n  if (!p) return [];\n  if (p.type === 'multi_select') return (p.multi_select || []).map((x) => x.name).filter(Boolean);\n  if (p.type === 'people') return (p.people || []).map((x) => x.name || x.id).filter(Boolean);\n  return [];\n}\n\nconst root = $input.first()?.json || {};\nconst results = root.results || root.body?.results || [];\n\nreturn results\n  .map((page) => {\n    const docId = propertyText(page, 'Doc ID') || page.id;\n    const status = propertyText(page, 'Status');\n\n    return {\n      json: {\n        page_id: page.id,\n        doc_id: docId,\n        title: docId,\n        status,\n        module: propertyText(page, 'Module'),\n        type: propertyText(page, 'Type'),\n        authority: propertyText(page, 'Authority'),\n        topic_tags: propertyMulti(page, 'Topic Tags'),\n        reviewer: propertyMulti(page, 'Reviewer'),\n        source_url: page.url || '',\n        updated_at: page.last_edited_time || new Date().toISOString()\n      }\n    };\n  })\n  .filter((item) => ALLOWED_STATUSES.has(item.json.status));\n"
      }
    },
    {
      "id": "37b9aad2-0bee-488d-98d5-c43a07dbe126",
      "name": "Notion - Fetch Page Blocks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.notion.com/v1/blocks/' + $json.page_id + '/children' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page_size",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2025-09-03"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "__REPLACE_AFTER_IMPORT__",
          "name": "Creful Notion Authorization"
        }
      }
    },
    {
      "id": "c4053865-c7d0-449f-94f0-f768ab5bb75d",
      "name": "Code - Convert Blocks To Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function richTextToMarkdown(parts = []) {\n  return parts.map((part) => {\n    const text = part.plain_text || part.text?.content || '';\n    const href = part.href || part.text?.link?.url;\n    let out = text;\n\n    if (part.annotations?.code) out = '`' + out + '`';\n    if (part.annotations?.bold) out = '**' + out + '**';\n    if (part.annotations?.italic) out = '*' + out + '*';\n    if (href) out = '[' + out + '](' + href + ')';\n\n    return out;\n  }).join('');\n}\n\nfunction blockToMarkdown(block, depth = 0) {\n  const type = block.type;\n  const data = block[type] || {};\n  const text = richTextToMarkdown(data.rich_text || []);\n  const indent = '  '.repeat(depth);\n  let line = '';\n\n  switch (type) {\n    case 'paragraph':\n      line = text;\n      break;\n    case 'heading_1':\n      line = '# ' + text;\n      break;\n    case 'heading_2':\n      line = '## ' + text;\n      break;\n    case 'heading_3':\n      line = '### ' + text;\n      break;\n    case 'bulleted_list_item':\n      line = indent + '- ' + text;\n      break;\n    case 'numbered_list_item':\n      line = indent + '1. ' + text;\n      break;\n    case 'to_do':\n      line = indent + '- [' + (data.checked ? 'x' : ' ') + '] ' + text;\n      break;\n    case 'toggle':\n      line = text ? indent + '<details><summary>' + text + '</summary>' : '';\n      break;\n    case 'quote':\n    case 'callout':\n      line = text ? '> ' + text : '';\n      break;\n    case 'code':\n      line = '```' + (data.language || '') + '\\n' + text + '\\n```';\n      break;\n    case 'divider':\n      line = '---';\n      break;\n    case 'table_row':\n      line = '| ' + (data.cells || []).map((cell) => richTextToMarkdown(cell)).join(' | ') + ' |';\n      break;\n    case 'image':\n      line = '[Image: ' + (data.caption ? richTextToMarkdown(data.caption) : data.file?.url || data.external?.url || 'Notion image') + ']';\n      break;\n    case 'bookmark':\n    case 'embed':\n    case 'link_preview':\n      line = data.url ? '[' + type + ': ' + data.url + ']' : '';\n      break;\n    case 'child_page':\n      line = '## ' + (data.title || 'Child page');\n      break;\n    default:\n      line = text;\n  }\n\n  return line;\n}\n\nconst rows = $('Code - Normalize Notion Rows').all();\n\nreturn $input.all().map((item, index) => {\n  const row = rows[index]?.json || {};\n  const blocks = item.json.results || item.json.body?.results || [];\n  const content = blocks\n    .map((block) => blockToMarkdown(block))\n    .filter(Boolean)\n    .join('\\n\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n\n  return {\n    json: {\n      doc_id: row.doc_id,\n      title: row.title || row.doc_id,\n      status: row.status,\n      module: row.module,\n      type: row.type,\n      authority: row.authority,\n      topic_tags: row.topic_tags || [],\n      source_url: row.source_url,\n      content,\n      updated_at: row.updated_at\n    }\n  };\n});\n"
      }
    },
    {
      "id": "d6253deb-ae00-4b74-9feb-b624fb345eec",
      "name": "Code - Build GitHub File Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function safeFilename(input) {\n  return String(input || 'untitled')\n    .normalize('NFKD')\n    .replace(/[<>:\"/\\\\|?*\\x00-\\x1F]/g, '_')\n    .replace(/\\s+/g, '_')\n    .replace(/_+/g, '_')\n    .replace(/^\\.+/, '')\n    .replace(/\\.+$/, '')\n    .slice(0, 120) || 'untitled';\n}\n\nfunction toBase64(text) {\n  return Buffer.from(text, 'utf8').toString('base64');\n}\n\nconst chunks = $input.all().map((item) => item.json);\nconst used = new Map();\nconst commitMessage = `kb sync: Notion KB ${new Date().toISOString()}`;\n\nconst files = chunks.map((chunk) => {\n  const base = safeFilename(chunk.doc_id);\n  const count = used.get(base) || 0;\n  used.set(base, count + 1);\n\n  const filename = count === 0 ? `${base}.json` : `${base}_${count + 1}.json`;\n  const path = `KB/${filename}`;\n  const jsonText = JSON.stringify(chunk, null, 2) + '\\n';\n\n  return {\n    json: {\n      is_index: false,\n      doc_id: chunk.doc_id,\n      path,\n      json_text: jsonText,\n      content_base64: toBase64(jsonText),\n      commit_message: commitMessage\n    }\n  };\n});\n\nconst index = {\n  source: 'notion',\n  source_data_source_id: 'c52dad9d-1fa0-45af-a23b-68785536a494',\n  status_filter: ['in_review', 'approved', 'published'],\n  production_note: 'Before real rollout, tighten status_filter to published only.',\n  count: chunks.length,\n  updated_at: chunks.map((chunk) => chunk.updated_at).sort().at(-1) || null,\n  docs: files.map((fileItem, index) => {\n    const chunk = chunks[index];\n    return {\n      doc_id: chunk.doc_id,\n      title: chunk.title,\n      status: chunk.status,\n      module: chunk.module,\n      type: chunk.type,\n      authority: chunk.authority,\n      topic_tags: chunk.topic_tags || [],\n      path: fileItem.json.path,\n      source_url: chunk.source_url,\n      updated_at: chunk.updated_at\n    };\n  })\n};\n\nconst indexText = JSON.stringify(index, null, 2) + '\\n';\n\nfiles.push({\n  json: {\n    is_index: true,\n    doc_id: '_index',\n    path: 'KB/_index.json',\n    json_text: indexText,\n    content_base64: toBase64(indexText),\n    commit_message: commitMessage\n  }\n});\n\nreturn files;\n"
      }
    },
    {
      "id": "fe7d0bbc-76e9-43d9-8faf-cc7039d5b699",
      "name": "GitHub - Get Existing File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.github.com/repos/pongsawatk/creful-ai-tutor/contents/' + encodeURIComponent($json.path).replace(/%2F/g, '/') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 100
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "__REPLACE_AFTER_IMPORT__",
          "name": "Creful GitHub Authorization"
        }
      }
    },
    {
      "id": "7ed4a798-f7a0-4535-b41c-9966e91a8d8c",
      "name": "Code - Diff GitHub Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function stripBase64Whitespace(value) {\n  return String(value || '').replace(/\\s/g, '');\n}\n\nconst payloads = $('Code - Build GitHub File Payloads').all();\nconst responses = $input.all();\n\nreturn payloads.map((payloadItem, index) => {\n  const file = payloadItem.json;\n  const response = responses[index]?.json || {};\n  const statusCode = response.statusCode || response.response?.statusCode;\n  const body = response.body || response;\n  const existingSha = body.sha || null;\n  const existingContent = stripBase64Whitespace(body.content);\n  const desiredContent = stripBase64Whitespace(file.content_base64);\n\n  let action = 'create';\n  if (statusCode === 404 || body.message === 'Not Found') {\n    action = 'create';\n  } else if (existingSha && existingContent === desiredContent) {\n    action = 'skip';\n  } else if (existingSha) {\n    action = 'update';\n  }\n\n  const githubBody = {\n    message: file.commit_message,\n    content: file.content_base64\n  };\n\n  if (action === 'update') {\n    githubBody.sha = existingSha;\n  }\n\n  return {\n    json: {\n      ...file,\n      action,\n      http_method: action === 'skip' ? 'GET' : 'PUT',\n      github_body: action === 'skip' ? {} : githubBody,\n      http_body: action === 'skip' ? '{}' : JSON.stringify(githubBody),\n      sha: existingSha\n    }\n  };\n});\n"
      }
    },
    {
      "id": "c4cc3cec-bab6-4390-aa14-dc8914a0038c",
      "name": "Code - Has GitHub Writes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const files = $('Code - Diff GitHub Files').all().map((item) => item.json);\n\nreturn [\n  {\n    json: {\n      has_writes: files.some((file) => file.action !== 'skip')\n    }\n  }\n];\n"
      }
    },
    {
      "id": "69f10bda-1ccc-42e0-82e9-10c7cd9feacb",
      "name": "IF - Has GitHub Writes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2700,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b761abac-4b34-4f0d-bef4-e7723c1e4af1",
              "leftValue": "={{ $json.has_writes }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "f1eb5c59-eb9d-4b03-b7b8-052cf8164ec5",
      "name": "Code - Filter GitHub Writes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2980,
        200
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const files = $('Code - Diff GitHub Files').all();\n\nreturn files.filter((item) => item.json.action !== 'skip');\n"
      }
    },
    {
      "id": "02a1dd0e-9663-4aef-9f53-9cffead4d461",
      "name": "GitHub - Create Update Or Confirm Skip",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3260,
        200
      ],
      "parameters": {
        "method": "={{ $json.http_method }}",
        "url": "={{ 'https://api.github.com/repos/pongsawatk/creful-ai-tutor/contents/' + encodeURIComponent($json.path).replace(/%2F/g, '/') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.http_body }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 250
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "__REPLACE_AFTER_IMPORT__",
          "name": "Creful GitHub Authorization"
        }
      }
    },
    {
      "id": "fef50ceb-0835-4098-b3c7-0fe23af7ba1b",
      "name": "Code - Final Response Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3540,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const files = $('Code - Diff GitHub Files').all().map((item) => item.json);\nconst responsesByPath = new Map(\n  $input.all().map((item) => {\n    const response = item.json;\n    const path = response.body?.content?.path || response.body?.path || response.path;\n    return [path, response];\n  })\n);\nconst docs = files.filter((file) => !file.is_index);\nconst first = files[0] || {};\n\nfunction isSuccessStatus(statusCode) {\n  return statusCode >= 200 && statusCode < 300;\n}\n\nconst results = files.map((file) => {\n  const response = file.action === 'skip'\n    ? {}\n    : responsesByPath.get(file.path) || {};\n  const statusCode = response.statusCode || response.response?.statusCode || response.body?.status;\n  const skipped = file.action === 'skip';\n  const success = skipped || isSuccessStatus(statusCode);\n\n  return {\n    path: file.path,\n    action: file.action,\n    status_code: statusCode || null,\n    success,\n    error: success ? null : response.body?.message || response.message || 'GitHub write failed'\n  };\n});\n\nconst docResults = results.filter((file) => file.path !== 'KB/_index.json');\nconst failures = results.filter((file) => !file.success);\n\nreturn [\n  {\n    json: {\n      ok: failures.length === 0,\n      synced: docResults.filter((file) => file.success).length,\n      created: docResults.filter((file) => file.success && file.action === 'create').length,\n      updated: docResults.filter((file) => file.success && file.action === 'update').length,\n      skipped: docs.filter((file) => file.action === 'skip').length,\n      failed: failures.length,\n      commit_message: first.commit_message || '',\n      index_path: 'KB/_index.json',\n      errors: failures.slice(0, 10)\n    }\n  }\n];\n"
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Webhook - POST /creful-kb-sync": {
      "main": [
        [
          {
            "node": "Notion - Query KB Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Query KB Rows": {
      "main": [
        [
          {
            "node": "Code - Normalize Notion Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Normalize Notion Rows": {
      "main": [
        [
          {
            "node": "Notion - Fetch Page Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Fetch Page Blocks": {
      "main": [
        [
          {
            "node": "Code - Convert Blocks To Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Convert Blocks To Chunks": {
      "main": [
        [
          {
            "node": "Code - Build GitHub File Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build GitHub File Payloads": {
      "main": [
        [
          {
            "node": "GitHub - Get Existing File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - Get Existing File": {
      "main": [
        [
          {
            "node": "Code - Diff GitHub Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Diff GitHub Files": {
      "main": [
        [
          {
            "node": "Code - Has GitHub Writes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Has GitHub Writes": {
      "main": [
        [
          {
            "node": "IF - Has GitHub Writes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has GitHub Writes": {
      "main": [
        [
          {
            "node": "Code - Filter GitHub Writes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Final Response Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Filter GitHub Writes": {
      "main": [
        [
          {
            "node": "GitHub - Create Update Or Confirm Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - Create Update Or Confirm Skip": {
      "main": [
        [
          {
            "node": "Code - Final Response Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1443f8bf-572c-43c8-9db6-5fb92e0c0ad7",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "id": "",
  "tags": []
}
